---
import ArrowDiagonalIcon from "@/components/icons/ArrowDiagonal.astro";

const LOGROS = [
  {
    title: "ORGANIZER",
    organization: "GOOGLE DEVELOPER GROUP OPEN LIMA (GDG)",
    period: "may. 2025 - actualidad",
    description: [
      "Organicé eventos como 'Google Cloud Next Extend 2025'",
      "Built with AI DevFest 2025",
      "Impartí charlas como 'Diseñando con Google Stich'",
      "Angular v20: Nuevas funcionalidades eficientes",
      "Integración de Google AI Studio para selección de sponsors para los siguientes eventos"
    ]
  },
  {
    title: "ARQUITECTO SOFTWARE STARTUP EDUKUNA",
    organization: "TALEBOX",
    period: "jul. 2024 - ene. 2025",
    description: [
      "Desarrollé la segunda versión del aplicativo web Talebox",
      "Implementé la arquitectura de microservicios",
      "Producto educativo para la mejora de la comprensión lectora en niños de educación primaria y secundaria",
      "Proyecto ganador en la Mejor Propuesta de Desarrollo Sostenible Del Perú, organizado por la Academia de Líderes de la UNI y Las Naciones Unidas"
    ]
  },
  {
    title: "JEFE DE ÁREA DE PROGRAMACIÓN IEEE CS",
    organization: "IEEE CS Untels",
    period: "jun. 2023 - nov. 2024",
    description: [
      "Fui parte del equipo del DevFest GDG Open Lima 2024 como coorganizador y desarrollador de la página oficial",
      "Impartí el curso 'Desarrolla tu portafolio web con Astro'",
      "Brindé la ponencia '¿Existe un camino para ser programador?' en el auditorio Juan Pablo II de la UNTELS",
      "Jefe del equipo de desarrollo para la organización del evento SinergiaTech. Además Speaker del mencionado"
    ]
  }
];
---

<div>
  <ol class="group/list">
    {LOGROS.map(({title, organization, period, description}) => (
      <li class="mb-12">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
          >
          </div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
            aria-label={period}
          >
            {period}
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-slate-200">
              <div>
                <span class="inline-flex items-baseline font-medium leading-tight text-slate-200 group/link text-base">
                  <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                  <span>
                    {title}
                    <span class="text-teal-300"> · {organization}</span>
                  </span>
                </span>
              </div>
            </h3>
            <div class="mt-2 text-sm leading-normal">
              {description.map(item => (
                <div class="flex gap-x-1.5 mb-1">
                  <span>👽</span>
                  <span>{item}.</span> 
                </div>
              ))}
            </div>
          </div>
        </div>
      </li>
    ))}
  </ol>
</div>