---
import TailwindIcon from "@/components/icons/Tailwind.astro";
import ReactIcon from "@/components/icons/React.astro";
import FirebaseIcon from "@/components/icons/Firebase.astro";
import NextjsIcon from "@/components/icons/Nextjs.astro";
import AstroIcon from "@/components/icons/AstroIcon.astro";
import AngularIcon from "@/components/icons/Angular.astro";
import ArrowDiagonalIcon from "@/components/icons/ArrowDiagonal.astro";
import Github from "./icons/Github.astro";

const TAGS = {
  TAILWIND: {
    name: "Tailwind",
    class: "text-[#73bcf6] bg-[#003159]",
    icon: TailwindIcon,
  },
  REACT: {
    name: "React",
    class: "text-white bg-[#0b57d0]",
    icon: ReactIcon,
  },
  FIREBASE: {
    name: "Firebase",
    class: "text-white bg-[#1e88e5]",
    icon: FirebaseIcon,
  },
  NEXTJS: {
    name: "NextJS",
    class: "text-white bg-blue-500",
    icon: NextjsIcon,
  },
  ASTROJS: {
    name: "Astro",
    class: "bg-white text-black",
    icon: AstroIcon,
  },
  ANGULARJS: {
    name: "AngularJS",
    class: "text-white bg-[#dd1b16] ",
    icon: AngularIcon,
  },
};

const PROJECTS = [
  {
    title: "Talebox",
    description:
      "Aplicación educativa de la Startup Edukuna. Producto educativo para la mejora de la comprensión lectora en niños de educación primaria y secundaria. Proyecto ganador en la Mejor Propuesta de Desarrollo Sostenible Del Perú, organizado por la Academia de Líderes de la UNI y Las Naciones Unidas.",
    image: "talebox.png",
    linkSite: "https://talebox.onrender.com/login",
    linkRepository: "https://github.com/JfloresXc/talebox",
    tags: [TAGS.NEXTJS, TAGS.FIREBASE, TAGS.TAILWIND],
  },
  {
    title: "Workshop Portfolio with Astro",
    description:
      "Proyecto de Portfolio presentado en los cursos de verano de la IEEE Paraguay de la Universidad Nacional de Asunción Student Branch. Donde intruí utilizando tecnologías como Astro y TailwindCSS. Ambientado en diseño de Facebook Profile. ",
    image: "workshop.jpg",
    linkSite: "https://portfolio-curse.vercel.app/",
    linkRepository: "https://github.com/JfloresXc/portfolio-curse",
    tags: [TAGS.ASTROJS, TAGS.TAILWIND],
  },
  {
    title: "Notesbook",
    description:
      "Aplicación web que guarda tus notas en la nube, para que puedas acceder a ellas desde cualquier dispositivo. Cuenta con un sistema de autenticación y un editor de texto personalizado. Realizada con React y Firebase.",
    image: "notebook-mockup.jpg",
    linkSite: "https://notesbook.vercel.app/",
    linkRepository: "https://github.com/JfloresXc/notesbook",
    tags: [TAGS.REACT, TAGS.FIREBASE],
  },
  {
    title: "Centro Idiomas",
    description:
      "Landing Page para un centro de idiomas, realizada de antemano por un diseño en Figma. Cuenta con un formulario de contacto y Lazy Loading para las imágenes. Realizada con React y un Design System.",
    image: "centroidiomas-mockup.jpg",
    linkSite: "https://centro-idiomas.vercel.app/",
    linkRepository: "https://github.com/JfloresXc/centro-idiomas",
    tags: [TAGS.REACT],
  },
];
---

<div>
  <ul class="group/list">
    {
      PROJECTS.map((project) => {
        return <li class="mb-12">
      <div
        class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
      >
        <div
          class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
        >
        </div><div class="z-10 sm:order-2 sm:col-span-6">
          <h3>
            <a
              class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
              href={project.linkSite}
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Spotify Profile (opens in a new tab)"
              ><span
                class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
              ></span>
              <span>
                {project.title}
                <!-- -->
                <ArrowDiagonalIcon />
              </span>
              </a
            >
          </h3><p class="mt-2 text-sm leading-normal">
           {project.description}
          </p>
          <ul
            class="mt-2 flex flex-wrap"
            aria-label="Related links"
          >
            <li class="mr-4">
              <a
                class="relative mt-2 inline-flex items-center text-sm font-medium text-slate-300 hover:text-teal-300 focus-visible:text-teal-300 gap-x-2"
                href={project.linkRepository}
                target="_blank"
                rel="noreferrer noopener"
                aria-label="MusicKit.js (opens in a new tab)"
                >
                <Github class="size-4"/>
                <span class="decoration-solid">Github</span></a
              >
            </li>
          </ul>
          <ul
            class="mt-2 flex flex-wrap"
            aria-label="Technologies used:"
          >
            {
              project.tags.map((tag) => {
                return <li class="mr-1.5 mt-2" >
                  <div
                    class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 gap-x-1.5"
                  >
                    <tag.icon class="size-4"/> {tag.name} 
                  </div>
                </li>
              })
            }
          </ul>
        </div>
        <img
          alt={project.title}
          loading="lazy"
          decoding="async"
          data-nimg="1"
          class="rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1 max-h-[180px] w-full object-cover object-center"
          src={`/storage/projects/${project.image}`}
        />
      </div>
    </li>
      })
    }
  </ul><div class="mt-12">
    <a
      class="inline-flex items-center leading-tight font-semibold text-slate-200 group  sr-only"
      aria-label="View Full Project Archive"
      href="/archive"
      ><span
        ><span
          class="border-b border-transparent pb-px transition group-hover:border-teal-300 motion-reduce:transition-none"
          >Ver más proyectos
        </span><span class="whitespace-nowrap"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none"
            aria-hidden="true"
            ><path
              fill-rule="evenodd"
              d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
              clip-rule="evenodd"></path></svg
          ></span
        ></span
      ></a
    >
  </div>
</div>
